{error}
<form action="index.php">
    <input type='text' value="{email}" name='email' required placeholder='email' /><br/>
    <input type='password' name='password' placeholder='clave de acceso antigua' /><br/>
    <input type='password' name='password2' placeholder='nuevaclave de acceso' /><br/>
    <input type='password' name='password3' placeholder='repita clave de acceso' /><br/>
    <input type='hidden' name='ruta' value='usuario' />
    <input type='hidden' name='accion' value='doedit' />
    <input type='submit' value='edicion' /><br/>
</form>